<content-component>
    <bc-heading title="BComponent" subtitle="Inputs" [size]="2"></bc-heading>
    <p>
        All BComponents extend the BComponent class and as a result have all of the following inputs as well. HTML attributes are, in most cases, applied to the top level element in a component.
    </p>
    <bc-heading title="Inputs overview"></bc-heading>
    <pre highlight class="html">{{code.overview}}</pre>

    <bc-heading title="id" subtitle="string" [size]="4"></bc-heading>
    <p>
        The id input is used to assign an id attribute to a bcomponent.<br/>Example:
    </p>
    <pre highlight class="html">{{code.id}}</pre>

    <bc-heading title="classes" subtitle="string" [size]="4"></bc-heading>
    <p>
        The classes input is used to assign classes to a class attribute of a bcomponent.
    </p>
    <pre highlight class="html">{{code.classes}}</pre>

    <bc-heading title="styles" subtitle="string" [size]="4"></bc-heading>
    <p>
        The styles input is used to assign styles to a style attribute of a bcomponent.
    </p>
    <pre highlight class="html">{{code.styles}}</pre>

    <bc-heading title="name" subtitle="string" [size]="4"></bc-heading>
    <p>
        The name input is used to assign a value to a name attribute of a bcomponent.
    </p>
    <pre highlight class="html">{{code.name}}</pre>

    <bc-heading title="aria" subtitle="string" [size]="4"></bc-heading>
    <p>
        The aria input is used to assign a value to the aria attribute of a bcomponent.
    </p>
    <pre highlight class="html">{{code.aria}}</pre>

    <bc-heading title="ariaBy" subtitle="string" [size]="4"></bc-heading>
    <p>
        The ariaBy input is used to assign a value to the aria-labelledby attribute of a bcomponent.
    </p>
    <pre highlight class="html">{{code.ariaBy}}</pre>

    <bc-heading title="bcomponent" subtitle="BComponent" [size]="4"></bc-heading>
    <p>
        The bcomponent input is used to initialize bcomponents in code. All of the properties of the passed BComponent copied are to the BComponent to which it was passed.
    </p>
    <pre highlight class="html">{{code.bcomponent}}</pre>
</content-component>