<content-component>
    <heading-bcomponent title="AlertBComponent" [size]="2"></heading-bcomponent>
    <p>
        The <code>AlertBComponent</code> is the equivalent of Bootstrap's Alert component. Use this to display important information to users.
    </p>
    <ul style="list-style:none;">
        <li><link-bcomponent link="/alert/api" text="AlertBComponent API" [router]="true"></link-bcomponent></li>
        <li><link-bcomponent link="/alert/inputs" text="AlertBComponent Inputs" [router]="true"></link-bcomponent></li>
    </ul>
</content-component>