<content-component>
    <heading-bcomponent tite="AlertBComponent" subtitle="Inputs" [size]="2"></heading-bcomponent>

    <heading-bcomponent title="text" subtitle="string" [size]="4"></heading-bcomponent>
    <p>
        The <code>text</code> input is used for for the text to display within the alert. This in put uses the <code>[innerHtml]</code> attribute.
    </p>
    <pre highlight class="html">{{code.text}}</pre>

    <heading-bcomponent title="dismissible" subtitle="boolean" [size]="4"></heading-bcomponent>
    <p>
        The <code>dismissible</code> input is used to created alerts that can be closed with user action. Dismissible alerts have a close button on the far right of the alert. Defaults to <code>false</code>.
    </p>
    <p>
        <alert-bcomponent text="I am dismissible" [dismissible]="true"></alert-bcomponent>
    </p>
    <pre highlight class="html">{{code.dismissible}}</pre>

    <heading-bcomponent title="hidden" subtitle="boolean" [size]="4"></heading-bcomponent>
    <p>
        The <code>hidden</code> input is used to make an alert hidden on page load.
    </p>
    <p>
        <button-bcomponent text="Show Alert" [click]="alrtHidden.show"></button-bcomponent>
        <alert-bcomponent text="<b>Hidden</b> This alert was hidden!" [hidden]="true"></alert-bcomponent>
    </p>
    <pre highlight class="html">{{code.hidden}}</pre>

    <heading-bcomponent title="type" subtitle="DisplayType" [size]="4"></heading-bcomponent>
    <p>
        The <code>type</code> input is used to determine what type of alert to show. Acceptable values are: <code>success</code>, <code>info</code>, <code>warning</code>, and <code>danger</code>. Defaults to success.
    </p>
    <p>
        <alert-bcomponent type="success" text="<b>Success</b> It worked!"></alert-bcomponent>
    </p>
    <p>
        <alert-bcomponent type="info" text="<b>Info</b> Some information"></alert-bcomponent>
    </p>
    <p>
        <alert-bcomponent type="warning" text="<b>Warning</b> Watch it!"></alert-bcomponent>
    </p>
    <p>
        <alert-bcomponent type="danger" text="<b>Danger</b> You messed up!"></alert-bcomponent>
    </p>
    <pre highlight class="html">{{code.type}}</pre>
</content-component>