<content-component>
    <heading-bcomponent title="Getting Started" subtitle="SystemJS & npm" [size]="3"></heading-bcomponent>
    <p>
        Install with npm by entering <code>npm i ng-bcomponents</code> into your terminal.
    </p>
    <p>
        Alter your SystemJS config file to include the ng-bcomponents module.<br/>
        <pre class="javascript" highlight>{{code.systemJS}}</pre>
    </p>
    <p>
        Import the <code>NgBComponentsModuel</code> and add it to your app module's imports.
    </p>
    <pre highlight class="typescript">{{code.appModule}}</pre>
</content-component>