<content-component>
    <heading-bcomponent title="BadgeBComponent" [size]="2"></heading-bcomponent>
    <p>
        The <code>BadgeBComponent</code> is a counter that can be used to display the number of items for an object.
    </p>
    <ul style="list-style:none;">
        <li><link-bcomponent text="BadgeBComponent API" link="/badge/api" [router]="true"></link-bcomponent></li>
        <li><link-bcomponent text="BadgeBComponent Inputs" link="/badge/inputs" [router]="true"></link-bcomponent></li>
    </ul>
</content-component>