body, html {
    background-color: #f0f5f5;
    height: 100%;
}
.content-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 50px!important;
}

/** Topbar */
#top-bar {
    height: 75px;
    background: #002533;
    color: #fff;
    padding: 15px 0 0 15px;
    position: fixed;
    width: 100%;
}
#top-bar h3 {
    margin: 0;
}
/** End Topbar */


/** Sidenav */
.navbar {
    margin-top: 75px;
}
.navbar,
.sidebar-nav .sidebar-brand:before,
.sidebar-nav .dropdown-menu
 {
    background-color: #00121a!important;
}
.sidebar-nav li:before {
    background-color: #002433!important;
}
.hamburger {
    margin-top: 75px;
    background: #00121a!important;
}
.hamb-top,
.hamb-middle,
.hamb-bottom {
    background: #fff!important;
}
/** End Sidenav */